.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .625rem 1.25rem;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .menu-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }
  
  .logo img {
    height: 2.5rem;
    width: 2.5rem;
  }
  
  .login-btn {
    background: none;
    border: none;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
  }

  
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-image: radial-gradient(circle at 17.98% 17.98%, #ff885f 0, #ff8f50 4.17%, #ff9642 8.33%, #ff9e36 12.5%, #f7a52a 16.67%, #e9ac1f 20.83%, #dbb218 25%, #cbb717 29.17%, #babd1d 33.33%, #a9c127 37.5%, #96c533 41.67%, #81c941 45.83%, #6acc50 50%, #4dcf60 54.17%, #16d170 58.33%, #00d381 62.5%, #00d493 66.67%, #00d5a5 70.83%, #00d6b7 75%, #00d6c9 79.17%, #00d6db 83.33%, #00d6ec 87.5%, #00d5fc 91.67%, #00d4ff 95.83%, #00d2ff 100%);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
  }
  
  .menu.open {
    max-height: 12.5rem; 
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: .5rem 1.25rem;
    text-align: center;
  }
  
  .menu a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    display: block;
  }
  .menu a:hover {
    cursor: pointer;
    color: black;
  }
  
  .logo:hover {
    cursor: pointer;
  }

  @media screen and (min-width:750px) {
    .menu ul {
      display: flex;
      justify-content: space-around;
    }
  }