/* src/styles/login.css */
.login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
  }

  .login-container h2 {
    color: black;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .login-form input {
    padding: 10px;
    font-size: 16px;
  }
  
  .login-form button {
    background: #000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background: #41C4DD;
  }
  
  .login-error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
  }
  