.manifiesto {
  padding: 2.5rem 1rem;
  background-color: black;
  color: white;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.manifiesto h2 {
  font-size: 2.5em;
  margin-bottom: 1rem;
}

.manifiesto-content-wrapper {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 1.5rem;
  position: relative; 
}

.manifiesto-img-container {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 1;
}

.manifiesto-img-container img {
  width: 100%;
  height: auto;
  display: block;
}

.manifiesto-contenido {
  font-size: 1em;
  line-height: 1.8;
  background-image: radial-gradient(circle at 17.98% 17.98%, #ff885f 0, #ff8f50 4.17%, #ff9642 8.33%, #ff9e36 12.5%, #f7a52a 16.67%, #e9ac1f 20.83%, #dbb218 25%, #cbb717 29.17%, #babd1d 33.33%, #a9c127 37.5%, #96c533 41.67%, #81c941 45.83%, #6acc50 50%, #4dcf60 54.17%, #16d170 58.33%, #00d381 62.5%, #00d493 66.67%, #00d5a5 70.83%, #00d6b7 75%, #00d6c9 79.17%, #00d6db 83.33%, #00d6ec 87.5%, #00d5fc 91.67%, #00d4ff 95.83%, #00d2ff 100%);
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  width: 90%;
  max-width: 600px;
  position: relative;
  z-index: 2;
  margin-top: -100px; 
}

.manifiesto-navegacion {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.manifiesto-navegacion button {
  background-image: none !important;
  background-color: #000 !important;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.manifiesto-navegacion button:disabled {
  background-color: #555353;
  cursor: not-allowed;
}

.manifiesto-navegacion span {
  color: black;
  font-size: 1rem;
}

/* Desktop */
@media (min-width: 750px) {
  .manifiesto {
    padding: 5rem;
  }

  .manifiesto h2 {
    font-size: 4em;
  }

  .manifiesto-content-wrapper {
    flex-direction: row;
    align-items: normal;

  }

  .manifiesto-img-container {
    flex: 0.8; 
    max-width: none;
  }

  .manifiesto-contenido {
    font-size: 1.5em;
    flex: 1.2; 
    margin-top: 0;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
