.partidos {
  padding: 2.5rem;
  background-color: black;
  color: white;
  margin-bottom: 2rem;
}

.partidos h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 1.5rem;
}
.partidos h5 {
  text-align: center;
}
.filtros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.filtros-tipo,
.filtros-estado {
  display: flex;
  gap: 1rem;
}

.filtros button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-image: radial-gradient(circle at 17.98% 17.98%, #ff885f 0, #ff8f50 4.17%, #ff9642 8.33%, #ff9e36 12.5%, #f7a52a 16.67%, #e9ac1f 20.83%, #dbb218 25%, #cbb717 29.17%, #babd1d 33.33%, #a9c127 37.5%, #96c533 41.67%, #81c941 45.83%, #6acc50 50%, #4dcf60 54.17%, #16d170 58.33%, #00d381 62.5%, #00d493 66.67%, #00d5a5 70.83%, #00d6b7 75%, #00d6c9 79.17%, #00d6db 83.33%, #00d6ec 87.5%, #00d5fc 91.67%, #00d4ff 95.83%, #00d2ff 100%);
  color: black;
  cursor: pointer;
  font-size: 0.8em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.filtros button:hover {
  transform: scale(1.05);
}

.partidos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 1rem;
}

.paginacion button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  background-image: radial-gradient(circle at 17.98% 17.98%, #ff885f 0, #ff8f50 4.17%, #ff9642 8.33%, #ff9e36 12.5%, #f7a52a 16.67%, #e9ac1f 20.83%, #dbb218 25%, #cbb717 29.17%, #babd1d 33.33%, #a9c127 37.5%, #96c533 41.67%, #81c941 45.83%, #6acc50 50%, #4dcf60 54.17%, #16d170 58.33%, #00d381 62.5%, #00d493 66.67%, #00d5a5 70.83%, #00d6b7 75%, #00d6c9 79.17%, #00d6db 83.33%, #00d6ec 87.5%, #00d5fc 91.67%, #00d4ff 95.83%, #00d2ff 100%);
  color: black;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.paginacion button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}


.paginacion span {
  font-size: 1rem;
  color: white;
}

@media (min-width: 750px) {
  .partidos {
    padding: 15rem;
  }
  .partidos h2 {
    font-size: 4em;
  }
  .filtros button {
    font-size: 1em;
  }
}
