.preguntas-frecuentes {
  padding: 2.5rem;
  background-color: black;
  color: black;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.preguntas-frecuentes h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 2rem;
  color: white;
}

.acordeon {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.acordeon-item {
  background-image: radial-gradient(circle at 17.98% 17.98%, #ff885f 0, #ff8f50 4.17%, #ff9642 8.33%, #ff9e36 12.5%, #f7a52a 16.67%, #e9ac1f 20.83%, #dbb218 25%, #cbb717 29.17%, #babd1d 33.33%, #a9c127 37.5%, #96c533 41.67%, #81c941 45.83%, #6acc50 50%, #4dcf60 54.17%, #16d170 58.33%, #00d381 62.5%, #00d493 66.67%, #00d5a5 70.83%, #00d6b7 75%, #00d6c9 79.17%, #00d6db 83.33%, #00d6ec 87.5%, #00d5fc 91.67%, #00d4ff 95.83%, #00d2ff 100%);
  border-radius: 8px;
  overflow: hidden;
}

.acordeon-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.acordeon-header h3 {
  font-size: 1.2em;
  margin: 0;
}

.icono {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
}

.linea {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  transition: transform 0.3s ease;
}


.horizontal {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.vertical {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical.abierto {
  transform: translate(-50%, -50%) rotate(90deg);
}

.acordeon-body {
  padding: 1rem;
  font-size: 1em;
  line-height: 1.5;
  background-image: radial-gradient(circle at 17.98% 17.98%, #ff885f 0, #ff8f50 4.17%, #ff9642 8.33%, #ff9e36 12.5%, #f7a52a 16.67%, #e9ac1f 20.83%, #dbb218 25%, #cbb717 29.17%, #babd1d 33.33%, #a9c127 37.5%, #96c533 41.67%, #81c941 45.83%, #6acc50 50%, #4dcf60 54.17%, #16d170 58.33%, #00d381 62.5%, #00d493 66.67%, #00d5a5 70.83%, #00d6b7 75%, #00d6c9 79.17%, #00d6db 83.33%, #00d6ec 87.5%, #00d5fc 91.67%, #00d4ff 95.83%, #00d2ff 100%);
}

.linea-separador {
  height: 1px;
  background-color: #555;
  margin: 0;
}

@media (min-width: 750px) {
    .preguntas-frecuentes {
        padding: 15rem;
    }
    .preguntas-frecuentes h2 {
        font-size: 4em;
    }
}